body{
    background-image: url(../res/space.jpg); 
    background-size: cover; 
    align-items: center;
    overflow: hidden;
}

.spaceship {
    height: 80%;
    width: 45%;
    transform: rotate(10deg); 
}

/* Dragun */
#startAdventureBtn {
    cursor: pointer;
}