body {
    background-image: url(../res/space.jpg);
    background-size: cover; 
    overflow: hidden
}

@keyframes rotateImage {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.planet {
    width: 1500px; /* Full image width */
    height: 1500px; /* Full image height */
    transform-origin: center center; /* Rotate around the center of the entire image */
    animation: rotateImage 300s linear infinite;
    rotate: 180deg; /* para kita ung visible part of the planet */
}

.rollin {
    width: 3500px; /* Full image width */
    height: 2000px; /* Full image height */
    overflow: hidden; /* Ensures only the quarter of the image is visible */
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}