* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/static/res/space.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 4px;
}

.logo span {
    color: rgb(238, 44, 238);
}

nav p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 20px;
    font-style: italic;
}

.mainContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftSide,
.rightSide {
    color: #fff;
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.planetDetails,
.planetDetails2{
    height:60.5vh ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.planetDetails > * {
    margin: 10px 0; /* Adds vertical space between child elements inside planetDetails */
}

.planetDetails2 > * {
    margin: 10px 0; /* Adds vertical space between child elements inside planetDetails2 */
}


.planetInteraction {
    color: #fff;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}

.planetPicContainer {
    width: 35vw;
    height: 35vw;
    border: 0.005px solid rgb(236, 167, 167);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planetInteraction img {
    width: 30vw;
    height: auto;
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s ease;
}

.planetInteraction img:hover {
    transform: scale(1.1);
}

.planetName {
    font-family: 'Poppins', sans-serif;
    position: absolute; /* Position absolutely */
    top: 50%; /* Adjust the vertical position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Centering adjustment */
    color: white; /* Adjust the text color */
    font-size: 7rem; /* Adjust font size as needed */
    text-align:center;
    white-space: nowrap; 
}

:root {
    --name: 'Proxima Centauri b'
}

.planetName::after,
 .planetName::before {
    content: var(--name);
    top: 0;
    left: 0;
    position: absolute;
    white-space: nowrap;
}

.planetName::before {
    animation: glitch 0.3s linear infinite reverse;
    color: #2196f3;
    z-index: -2;
}


.planetName::after {
    animation: glitch 0.3s linear infinite;
    color: #e91e63;
    z-index: -1;
}



.planetInteraction button {
    padding: 10px 20px;
    border: none;
    background:purple;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s ease;
}

.planetInteraction button:hover {
    background: #fff;
    color: purple;
}

.previousPlanet {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nextPlanet{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.nextPlanet h3,
 .previousPlanet h3 {
    width: 50%;
 }

 .nextPlanet h3 {
    text-align: end;
 }


.nextPlanet img,
.previousPlanet img {
    height:15vh;
    cursor: pointer;
    user-select: none;
    filter: brightness(0.5);
}

.fa-solid{
    font-size: 3rem;
    color: purple;
    cursor:pointer;
}

.fa-solid:hover{
    color: #8e4af4; 
}

.planetDetails{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.planetDetails2{
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}


@keyframes glitch {
    0% {
        top: 0;
        left: 0;
    }
    20% {
        top: -5x;
        left: -5px;
    }
    40% {
        top: 5px;
        left: 5px;
    }
    60% {
        top: -5x;
        left: 5px;
    }
    80% {
        top: 5px;
        left: -5px;
    }
    100% {
        top: 0;
        left: 0;
    }

}