* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/static/res/space.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 4px;
}

.logo span {
    color: rgb(238, 44, 238);
}

nav p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 20px;
    font-style: italic;
}

.mainContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftSide,
.rightSide {
    color: #fff;
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.planetDetails,
.planetDetails2{
    height:60.5vh ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.planetDetails > * {
    margin: 10px 0; /* Adds vertical space between child elements inside planetDetails */
}

.planetDetails2 > * {
    margin: 10px 0; /* Adds vertical space between child elements inside planetDetails2 */
}


.planetInteraction {
    color: #fff;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}

.planetInteraction img {
    width: 35vw;
    height: auto;
    position: relative;
    margin-bottom: 10vh;
    z-index: 0;
    border: solid 1px #ffff;
    border-radius:50%;
    cursor: pointer;
    user-select: none;
}
.planetInteraction .planetMain{
    top: 50%;
    bottom: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

.planetName {
    font-size: 7rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-family: Inter;
    text-shadow: #3C2065 0 1px 1px;
}

.planetMain button {
    padding: 10px 20px;
    border: none;
    background:purple;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s ease;
}

.planetMain button:hover {
    background: #fff;
    color: purple;
}
.nextPlanet,
.previousPlanet {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nextPlanet h3,
 .previousPlanet h3 {
    width: 50%;
 }

 .nextPlanet h3 {
    text-align: end;
 }


.nextPlanet img,
.previousPlanet img {
    height:15vh;
    cursor: pointer;
    user-select: none;
}

.fa-solid{
    font-size: 3rem;
    color: purple;
    cursor:pointer;
}

.fa-solid:hover{
    color: #8e4af4; 
}

.planetDetails{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.planetDetails2{
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}
