
body{
    background-image: url(../res/space.jpg); 
    background-size: cover; 
    align-items: center;
    overflow: hidden;
}

#rock{
    object-fit: cover;
    width: 100%;
    bottom: -10%;
    position: absolute; 
    left: 0; 
    right: 0;
}