* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/static/res/space.jpg');
    background-position: center;
    background-size:cover;
    overflow: hidden;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background: url('/static/res/Proxima_Centauri_b_landscape.PNG');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.neilLives{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15vw;
}

.livesLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.neilLives img {
    width: 200px;
    height: 200px;
}
.livesLeft img {
    width: 100px;
    height: 100px;
}

.quizArea {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-evenly;
    width:85vw;
    height: 100vh;
}

.question h1{
    font-size: 2em;
    text-align: left;
    color: aqua;
}

.answerChoices{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.answer-buttons {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-top: 1em;
}

.answer-buttons button {
    font-size: 1.2em;
    border-radius: 50px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.answer-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}