<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlanetaryOdyssey</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,567&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/common.css" />
  </head>
  <body style="top: 10%; bottom: 10%">
    <div class="gradient"></div>
    <div
      class="headingTitle"
      style="left: 0%; right: 0%; top: 5%; position: absolute"
    >
      Chronicles of
    </div>
    <img
      class="spaceship"
      style="left: 30%; position: absolute"
      src="../static/res/spaceship_diagonal.png"
    />
    <div
      class="headingTitle"
      style="left: 0%; right: 0%; top: 28%; position: absolute"
    >
      Exoplanets
    </div>
    <!-- mukhang off sa preview but ok sa flask for me -->
    <div
      class="headingSmall"
      style="
        left: 0%;
        right: 0%;
        top: 63%;
        position: absolute;
        text-align: center;
      "
    >
      Let’s explore exoplanets!
    </div>
    <div
      class="buttonStyle"
      id="startAdventureBtn"
      style="
        bottom: 18%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: fit-content;
      "
    >
      <div class="buttonText">Start your Adventure!</div>
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
