<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div id="main-content">
        <div class="heroPage">
            <nav>
                <h2 class="logo">SPACE<span>ROCK</span></h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="planets">Planets</a></li>       
                <li><a href="/lorem">lorem</a></li>
            </ul>
                <p class="systemVersion">System Version 5.10</p>
            </nav>
            <div class="heroContent"></div>
        <div class="hero">
        </div>
        </div>
    </div>
    <script src="/static/js/router.js"></script>
</body>
</html>