<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="static/css/index.css">

    <!-- font -->
    <title>NASA Hackathon</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,567&display=swap" rel="stylesheet">
    <title>Hackathon</title>
</head>
<body>
    <div id="main-content">
        <div class="heroPage">
            <nav>
                <h2 class="logo">SPACE<span>ROCK</span></h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="planets">Planets</a></li>       
                <li><a href="/lorem">lorem</a></li>
            </ul>
                <p class="systemVersion">System Version 5.10</p>
            </nav>
            <div class="heroContent"></div>
        <div class="hero">
        </div>
        </div>
    </div>
    <script src="/static/js/router.js"></script>
</body>
</html>