<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,567&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="../static/css/intro.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <title>Nasa Hackathon</title>
  </head>
  <body>
      <img style="object-fit: cover; width: 100%; bottom: -20%; position: absolute; left: 0; right: 0;" src="../static/res/niel_intro.PNG"/>
      <div class="gradient"></div>
      <!-- dialog box -->
      <div style="
          width: 95%;
          bottom: 25%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          align-items: center;
          align-content: center;
      ">
        <!-- <div
          style="
            width: 80%;
            height: 60%;
            left: 0;
            right: 0;
            bottom: 50%;
            position: absolute;
            opacity: 0.66;
            background: black;
            box-shadow: 9px 10px 5.900000095367432px 1px rgba(0, 0, 0, 0.56);
            border-radius: 25px;
          ">
        </div> -->
        <!-- white outline -->
        <!-- <div
          style="
            width: 79%;
            height: 55%;
            margin: 0.4%;
            left: 0%;
            right: 0%;
            bottom: 52%;
            position: absolute;
            opacity: 0.53;
            box-shadow: 9px 10px 5.900000095367432px 1px rgba(0, 0, 0, 0.56);
            border-radius: 25px;
            border: 1px white solid;
          "
        >  -->
        <div
        style="
          position: absolute;
          align-content: center;
          background-color: rgba(0, 0, 0, 0.56);
          padding: 2.4%;
          border-radius: 25px;
          text-align: justify;
        ">
            <!-- <div
            style="
              width: 80%;
              height: 60%;
              left: 0;
              right: 0;
              bottom: 50%;
              position: absolute;
              opacity: 0.03;
              border-radius: 25px;
              background-image: url(../static/res/tile.png);
              background-size: 2%;
              background-repeat: repeat;
            ">
            </div> -->
          <span
          class="headingDialogue"
          id="dialogueHeader">
            Neil had never imagined this would be his life.
          </span><br />
          <span class="bodyDialogue" style=" "
          id="dialogueBody"
          >Traveling between distant exoplanets, navigating star systems long
          left to myth. But here he is, tasked with venturing to the uncharted
          reaches of the galaxy, starting with the exoplanets TOI-1231 b, Wolf
          1061 c, GJ 1002 b, Proxima Centauri b, Epsilon Eridani B, and Gliese
          832 C. Each of these planets holds secrets, challenges, and fragments
          of the clues necessary to unlock the Sigma Stone’s resting
          place.</span>
          <div
          style="
            width: 20%;
            height: 20%;
            position: absolute;
            right: 0%;
          ">
          <div
            style="
              width: 10%;
              height: 16%;
              right: 15%;
              position: absolute;
              border: 4px white solid;
            "
            id="nextBtn"
          ></div>
        </div>
        </div>
        
      </div>
      
    <script src="/static/js/intro_dialogue.js"></script>
  </body>
</html>
