<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <img style="width: 1920px; height: 1259px; left: 0px; top: -39px; position: absolute" src="../static/res/niel_intro.PNG" />
        <img style="width: 827px; height: 575px; left: 295px; top: 650px; position: absolute; opacity: 0" src="https://via.placeholder.com/827x575" />
        <img style="width: 100%; height: 100%; left: -6px; top: -20px; position: absolute" src="../static/res/niel_intro.PNG" />
        <div style="width: 1958px; height: 419px; left: 0px; top: 661px; position: absolute; opacity: 0.72; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 88%)"></div>
        <div style="width: 1798px; height: 391px; left: 61px; top: 714px; position: absolute">
            <div style="width: 1798px; height: 391px; left: 0px; top: 0px; position: absolute; opacity: 0.66; background: black; box-shadow: 9px 10px 5.900000095367432px 1px rgba(0, 0, 0, 0.56); border-radius: 25px"></div>
            <img style="width: 1798px; height: 391px; left: 0px; top: 0px; position: absolute; opacity: 0.66; border-radius: 25px" src="https://via.placeholder.com/1798x391" />
            <div style="width: 1773px; height: 373px; left: 13px; top: 9px; position: absolute; opacity: 0.53; box-shadow: 9px 10px 5.900000095367432px 1px rgba(0, 0, 0, 0.56); border-radius: 25px; border: 1px white solid"></div>
        </div>
            <div style="width: 1320px; height: 279px; left: 300px; top: 729px; position: absolute; text-align: justify"><span style="color: white; font-size: 48px; font-family: Inter; font-weight: 700; line-height: 57.60px; word-wrap: break-word">Neil had never imagined this would be his life.<br/></span><span style="color: white; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 33.60px; word-wrap: break-word">Traveling between distant exoplanets, navigating star systems long left to myth. But here he is, tasked with venturing to the uncharted reaches of the galaxy, starting with the exoplanets TOI-1231 b, Wolf 1061 c, GJ 1002 b, Proxima Centauri b, Epsilon Eridani B, and Gliese 832 C. Each of these planets holds secrets, challenges, and fragments of the clues necessary to unlock the Sigma Stone’s resting place.</span></div>
            <div style="width: 149.99px; height: 129.18px; left: 1709.02px; top: 910px; position: absolute">
            <div style="width: 37.50px; height: 64.59px; left: 56.24px; top: 32.30px; position: absolute; border: 4px white solid"></div>
        </div>
    </div>
</body>
</html>