<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    <!-- font -->
    <title>NASA Hackathon</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,567&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/loading.css">

</head>
    <body style="top: 10%; bottom: 10%;">
        <div style="width: 100%; height: 100%; position: relative; background: white">
            <div style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(5.02, 1.02, 10.63, 0.86) 86%, black 100%)"></div>
            <div style="left: 101px; top: 0px; position: absolute; text-align: center; color: white; font-size: 200px; font-family: Inter; font-weight: 700; line-height: 240px; word-wrap: break-word">Traveling</div>
            <div style="left: 754px; top: 524px; position: absolute; opacity: 0; text-align: center; color: white; font-size: 32px; font-family: Unispace; font-weight: 700; word-wrap: break-word">Start your Adventure!</div>
            <div style="width: 1224px; height: 201px; left: 142px; top: 250px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; line-height: 44.80px; word-wrap: break-word">Space Fact!<br>The Moon is lemon-shaped. Even if it looks round in the sky, the moon contains flattened poles and bulges on both near and far side around its equator.</br><br>Sky at Night Magazine 2024</br></div>
            <div style="width: 1920px; height: 887px; left: 0px; top: 193px; position: absolute; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69%, black 100%)"></div>
            <div class="rollin">
                <img class="planet" src="../static/res/proxima_centauri_b.PNG" />
            </div>
        </div>
        <script src="/static/js/loading.js"></script>
    </body>
</html> 