<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NASA Hackathon</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,567&display=swap" rel="stylesheet"/>
    
    <!-- css -->
    <link rel="stylesheet" href="../static/css/loading.css" />
    <link rel="stylesheet" href="../static/css/common.css" />
  </head>

  <body style="top: 10%; bottom: 10%">
    <div
      style="
      width: 100%; 
      height: 100%; 
      position: relative; 
      background: white
        ">
        <div class="gradient"></div>
        <div class="headingTitle" 
            style="
            left: 101px; 
            top: 0px; 
            position: absolute;
            ">
            Traveling
        </div>

        <div class="headingSmall"
            style="
            width: 1224px; 
            height: 201px; 
            left: 142px; 
            top: 250px; 
            position: absolute;
            ">
            <str style="font-size: 140%;">Space Fact!</str><br />
            <span class="headingSmall" id="spaceFactText">
            The Moon is lemon-shaped. Even if it looks round in the sky, the moon
            contains flattened poles and bulges on both near and far side around
            its equator. 
            </span><br /><i class="headingSmall" style="color:darkgray;">Sky at Night Magazine 2024</i>
        </div>
        <div class="gradient"></div>
    </div>

    <div class="rollin">
        <img class="planet" src="../static/res/TOI-1231_planet.PNG" />
    </div>
    <script src="/static/js/randomized_space_facts.js"></script>
    <script src="/static/js/loading.js"></script>
  </body>
</html>
