<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <title>Planets Page</title>
</head>
<body>
    <div class="planetPage">
        <div class="planetDetails1">

        </div>
        <div class="planetMain">
            <img src="" alt="">
            <h1></h1>
            <button>Enter Planet</button>
        </div>
        <div class="planetDetails2">
            
        </div>
    </div>
</body>