<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planet Information</title>
    <link rel="stylesheet" href="/static/css/planetInfo.css" />
  </head>
  <body>
    <!-- Data from backend to JavaScript -->
    <span id="bossCode" hidden>{{ boss_code }}</span>

    <!-- Preload images for JavaScript manipulation -->
    <img src="/static/res/TOI-1231_planet.PNG" hidden />
    <img src="/static/res/Wolf_1061_c_planet.png" hidden />
    <img src="/static/res/GJ_1002_b_planet.png" hidden />
    <img src="/static/res/Proxima_Centauri_b_planet.PNG" hidden />
    <img src="/static/res/Epsilon_Eridani_B_planet.PNG" hidden />
    <img src="/static/res/Gliese_832_C_planet.PNG" hidden />

    <div class="hero">
      <div class="planetDetails">
        <h1 id="planetHeader">TOI-1231 b</h1>
        <p class="paragraph1" id="firstParagraph">
          90 light years away from Earth, there exists the Neptune-like
          exoplanet, TOI-1231 which was discovered in 2021 through a transit.
          This planet was discovered by a large team of astronomers led by
          exoplanet researchers, Dr. Jennifer Burt from NASA’s Jet Propulsion
          Laboratory and Professor Diana Dragomir from University of New Mexico
          . TOI-1231 net is 15.4 times the mass of Earth while also being three
          and a half times bigger than Earth. It can orbit around its star, a
          red dwarf star smaller but older than our solar system’s Sun, in just
          24.2 days. Astronomers also describe it as one of the “coolest”
          smaller exoplanets that has a temperature comparable to Earth’s at 134
          degrees Fahrenheit or 57 degrees Celsius, despite being relatively
          close to its star. This is due to its star being cooler and less
          bright too compared to our other stars like our Sun.
        </p>
        <p class="paragraph2" id="secondParagraph">
          Astronomers are speculating that TOI-1231 b comprises of a gaseous
          world with a rich atmosphere. Bringing that into light, astronomers
          allegedly saw evidences of clous being existent in the said planet.
          However, despite having an atmosphere and a fairly cooler range of
          temperatures in the said planet, it was cited that this exoplanet is
          not habitable due to its size. Jennifer Burt, a NASA JPL scientist
          stated that further observations of TOI-1231 b in the future will help
          identity how common or rare it is for water clouds to form in these
          type of planets.
        </p>
        <button id="proceedBtn">Procede to Planet</button>
      </div>
      <div class="imageContainer">
        <img
          id="planetImage"
          src="/static/res/TOI-1231_planet.PNG"
          alt="TOI-123-b"
        />
      </div>
    </div>
    <script type="module" src="/static/js/planet_information.js"></script>
  </body>
</html>
