<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/planetStyles.css">
</head>
<body>
   <div class="main">
        <nav>
            <h2 class="logo">space<span>Rock</span></h2>
            <p class="system">System Version: 4.10</p>
        </nav>
        <div class="mainContent">
            <div class="planetDetails1">
                <h3>PLANET TYPE</h3>
                <p class="planetType">Earth Lookalike</p>
                <h3>Distance from the sun: </h3>
                <p class="distance">4.5 lightyears</p>
            </div>
            <div class="planetInteraction">
                <img class="planetPic" src="/static/res/GJ1002b.PNG" alt="">
                <div class="planetMain">
                    <h1 class="planetName">GJ 1002 b</h1>
                    <button>ENTER PLANET</button>
                </div>
            </div>
            <div class="planetDetails2">
                <h3>Planet Type:</h3>
                <p>Description:</p>
            </div>
        </div>
   </div>
</body>
</html>