<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/quiz.css">
</head>
<body>
    <div class="main">
        <div class="quiz">
            <div class="question">
                <h1 id="questions">
                    Gliese 832 C is locked in a constant state of storm. What drives these planetary storms? Patanggal nalang
                </h1>  
                <div id="choices">
                    <h3>A. answer choice</h3>
                    <h3>B. answer choice</h3>
                    <h3>C. answer choice</h3>
                    <h3>D. answer choice</h3>
                </div>
                <div class="answer-buttons">
                    <button id="A-btn">A</button>
                    <button id="B-btn">B</button>
                    <button id="C-btn">C</button>
                    <button id="D-btn">D</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/"></script>
</body>
</html>